<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="app.artyomd.questxr">
	<uses-feature
		android:name="android.hardware.vr.headtracking"
		android:required="true" />
	<application
		android:allowBackup="false"
		android:hasCode="false"
		android:label="Quest XR"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
		<activity
			android:name="android.app.NativeActivity"
			android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
			android:excludeFromRecents="false"
			android:launchMode="singleTask"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
			<meta-data
				android:name="android.app.lib_name"
				android:value="quest-xr" />
			<meta-data
				android:name="com.oculus.vr.focusaware"
				android:value="true" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="com.oculus.intent.category.VR" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
